---
import { ICertifications } from "@types";

const { title, details } = Astro.props as ICertifications;
---

<section class="flex items-start justify-between flex-col sm:flex-row dark:text-light">
    <h2 class="w-[15rem] mt-16">{title}</h2>
    <div class="w-full">
        {
            details.map((item) => (
                <div class="my-16">
                    <div class="flex justify-between items-center flex-wrap">
                        <h3 class="text-xl font-semibold">{item.name} </h3>
                        
                        <p class="text-sm dark:text-gray">
                            {item.issuedOn}
                        </p>
                    </div>
                    <div class="flex justify-between items-center flex-wrap">
                        <a href={item.verifyBadgeUrl} class="w-1/4 h-1/4" target="_blank">
                            
                        </a>
                        <p class="text-sm mt-3 text-blue">
                        {item.issuedBy}
                        </p>
                    </div>
                    <p class="text-sm mt-3 text-gray">{item.description}</p>
                </div>
            ))
        }
    </div>
</section>
